img{
    width: 50px;
}
video{
    width: 50px;
}
embed{
    width:100%;
}

html,body{
    margin: 0;
    padding: 0;
}
#about-wrapper{
    
    text-align: center;
    padding: 90px;
    margin: 0;
    
}

.index a{
    text-decoration: none;
    color: black;
    margin: 5px;
    padding: 10px;
    transition: 90ms;
    border-bottom:black 2px solid ;
}
.index a:hover, a:focus{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20%;
    transition: 90ms;
}

.about-image img{
    width: 500px;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    -webkit-box-shadow: -4px 10px 38px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 10px 38px -8px rgba(0,0,0,0.75);
box-shadow: -4px 10px 38px -8px rgba(0,0,0,0.75);

}

.contact-links a,ul,li{
    display: inline-flex;
    text-decoration: none;
    margin: 5px;
}
.wrapper{
    display: inline-flex;
    justify-content: center;
}
.job-content{
    width: 500px;
    font-size: 20px;
    text-align: left;
    color: white;
    background-color: black;
    padding: 5%;
    margin: 10px;
    border-radius: 20px;
    -webkit-box-shadow: -4px 10px 38px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 10px 38px -8px rgba(0,0,0,0.75);
box-shadow: -4px 10px 38px -8px rgba(0,0,0,0.75);
}



#SMT{
   
    text-align: center;
    margin-top:10%;
    margin-bottom:10%;
    
}

#pdf{
   
    text-align: center;
    margin-top:25%;
    margin-bottom:10%;
}
.logo a, h2{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    color: black;
    
}