body, html {
  margin: 0;
  padding: 0;
  background-color: #778da9;
  overflow-x: hidden;
  overflow-y: scroll;
}

p {
  font-size: large;
}

ul, li {
  display: inline;
  margin: 5px;
  padding: 5px;
}

h1, h2 {
  background: linear-gradient(rgb(90, 87, 230), rgb(60, 13, 104));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none;
  color: white;
}

footer ul, footer li {
  display: inline;
}

footer img {
  width: 10px;
}

#about-wrapper {
  background-color: #778da9;
  border-bottom: 2px solid black;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image {
  border-radius: 25px 25px 0 0;
  margin-bottom: 10px;
  background-color: #ecf0f0;
  width: 20rem;
  box-shadow: 9px 15px 26px -14px rgba(0, 0, 0, 0.75);
}

.about-image img {
  width: 150px;
  margin-top: 10px;
  border-radius: 50px;
  height: auto;
}

#contact-links img {
  width: 50px;
}

#contact-links {
  box-shadow: 9px 15px 26px -14px rgba(0, 0, 0, 0.75);
  background-color: #ecf0f0;
  padding: 10px;
  border-radius: 10px;
}

section {
  background-color: #080808;
  text-align: justify;
}

.job-content {
  text-align: justify;
  background-color: black;
  color: white;
  margin: 10px;
  width: 500;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 9px 15px 26px -14px rgba(0, 0, 0, 0.75);
}

.logo {
  width: 520px;
  padding: 10px;
  margin: 30px 0;
  background-color: transparent;
}

#knn img {
  width: 100px;
  padding: 20px;
  background-color: #ecf0f0;
  border-radius: 10px;
}

#knn {
  height: 100vh;
  text-align: center;
  margin-bottom: 1px;
  background-color: #9f86c0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pti {
  height: 100vh;
  margin-bottom: 1px;
  text-align: center;
  background-color: #5e548e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#SMT {
  height: 100vh;
  margin-bottom: 1px;
  text-align: center;
  background-color: #dcd7f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#get-wise {
  height: 100vh;
  text-align: center;
  margin-bottom: 1px;
  background-color: #d8f3dc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#get-wise img {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
}

#translation {
  height: 100vh;
  text-align: center;
  background-color: #d8e2dc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.translation-2 {
  height: 100vh;
  margin-bottom: 1px;
  text-align: center;
  background-color: #e9ecef;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 10px solid black;
}

#translation img {
  width: 50px;
}

.translation-2 img {
  width: 50px;
}

#translation h1, .translation-2 h1 {
  font-size: 25px;
}

#back-to-top-btn {
  position: fixed;
  bottom: 0;
}

#back-to-top-btn img {
  position: fixed;
  bottom: 0;
}

#pdf {
  background-color: white;
  text-align: center;
  padding: 10px;
}

embed {
  outline: 3px solid #000000;
  border-radius: 10px;
  overflow-y: hidden;
}

.index {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.index ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.index li {
  margin: 0 10px;
}

.index a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  transition: all 0.2s ease;
}

.index a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.collapsed {
  height: 5px;
  opacity: 0.5;
  width: 100px;
  overflow: hidden;
  transition: all 0.2s ease;
}

.collapsed a {
  display: inline;
  color: white;
}

#video-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 5px;

}
#contact-links img{
  width:20px;
}
#video-container h2{
  margin: 5px;
  font-size: small;
}
#video-container video {
  display: block;
}

.job-content h2 {
  cursor: pointer;
}

#video-container.show-videos video {
  display: block;

}
video{
  width: 100px;
  transition: 2s;
  margin: 5px;
  border-radius: 5px;
  outline: #5e548e solid 2px;
}
.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 200px;
}
.video-player video {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.video-player h2{
  padding:5px;
  margin: 5px;
  width: 100px;
}